.navbar.navbar-inverse.navbar-fixed-top
    .container
        .navbar-header
            span.navbar-brand 书法碑帖

        .navbar-collapse.collapse
            ul.nav.navbar-nav
                li
                    a(href="/") 首页
                li.hide
                    a(href="/calligraphist") 书法名家
                li.hide
                    a(href="/epoch") 时代
                li.hide
                    a(href="/paper") 书论
                li.hide
                    a(href="/search") 搜索

