#navbar-top.navbar.navbar-inverse
    .container
        .navbar-header
            a.navbar-brand(href="/") 书法碑帖

        form#beitie-search.navbar-form.navbar-right(role="search", action="/search")
            .form-group.input-group
                input.form-control(type="text", name="keywords")
                span.input-group-btn
                    button.btn.btn-default(type="submit") 搜索
