nav#navbar-top.navbar.navbar-inverse
    .container-fluit
        .navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#navbar-collapse")
                span.sr-only. Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") 书法碑帖

        #navbar-collapse.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
                li
                    a(href="/") 首页
                li
                    a(href="/shufa/") 历代名家
                li
                    a(href="/search/") 搜索
                li.dropdown.hide
                    div#version-switch.dropdown-toggle(data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false") Versions
                        span.caret
                    ul.dropdown-menu
                        li
                            a(href="/") ExpressJS
                        li
                            a(href="/angularjs/#/") AngularJS
                        li
                            a(href="/angularjs-requirejs/#/") AngularJS&amp;RequireJS
                        li
                            a(href="/backbonejs/#/") Backbone.js
                        li
                            a(href="/react/#/") React.js
                        li
                            a(href="/emberjs/#/") Ember.js
                        li
                            a(href="/knockoutjs/#/") Knockout.js
                        li
                            a(href="/canjs/#!") Can.js
                        li
                            a(href="/ionic/#/") ionic
