doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='中国史上各朝各代书法名家的书法碑帖')

    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.js')
  body
    include ./includes/nav.jade

    block content

    block footer
        footer#footer
            #footer-info &copy; shufabeitie.com 沪ICP备15020815号