doctype html
html
  head
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap-3.3.4/css/bootstrap.css')
    script(src='/javascripts/jquery-1.11.2.js')
    script(src='/bootstrap-3.3.4/js/bootstrap.js')
  body
    include ./includes/nav.jade

    block content

    block footer
        footer#footer
            hr
            p.text-center &copy; 2015 www.shufabeitie.com