extends layout

block content

    #beities.container
        form.form.form-inline.alert.alert-info
            input.form-control(type="text")
            input.form-control(type="submit", value="搜索")
