extends layout

block content

    #beities.container-fluid
        .alert.alert-info.
            输入书法作品名或者是书法家的名字进行搜索，最多返回120个结果。

        form.form.alert.alert-warning(method='post')
            .row
                .col-md-6.col-sm-12
                    .input-group
                        input.form-control(type="text", name="keywords", placeholder="书法作品名或者是书法家")
                        span.input-group-btn
                            input.btn.btn-default(type="submit", value="搜索")

        #beitie-imgs-container.row
            each fatie, index in faties
                .col-md-4.col-sm-6
                    .thumbnail
                        .caption.ellipsis
                            a(target="_blank", href="/shufa/#{fatie.author}/#{fatie.paper}/")= (index + 1) + '. ' + fatie.paper

