extends layout

block content

    #beities.container-fluid
        .alert.alert-info.
            输入法帖下载地址，如新浪微盘，百度云盘地址，文件可以是压缩的zip/rar文件，也可以是pdf文件，文件里的图片尽量不要有水印，且足够清晰。

        form.form.alert.alert-warning(method='post')
            .row
                .col-md-6.col-sm-12
                    .input-group
                        input.form-control.input(type="text", name="url", value="", placeholder="输入法帖下载地址")
                        span.input-group-btn
                            input.btn.btn-default.btn(type="submit", value="保存")
