extends formlayout

block content

    #beities.container-fluid
        form.form.alert.alert-info(method='post')
            .row
                .form-group.col-md-6.col-sm-12
                    input.form-control.input(type="text", name="url", value="", placeholder="输入法帖下载地址，如新浪微盘，百度云盘地址")
            .row
                .col-md-6.col-sm-12
                    .input-group
                        input.form-control.input(type="text", name="name", value="", placeholder="法帖名称")
                        span.input-group-btn
                            input.btn.btn-default.btn(type="submit", value="保存")
