html {
    overflow-y: scroll;
}
#navbar-top {
    border-radius: 0;
}
#beitie-text {
    width: 95%;
    height: 135px;
}
#beitie-text-show {
    text-indent: 2em;
}
#beities {
}
.beitie-info-row {
    margin-top: 5px;
    margin-bottom: 5px;
}
#beitie-description {
    width: 95%;
    resize: none;
}
h4.beitie-intro {
    color: #666;
}
#beitie-imgs-container {
    position: relative;
}
.beitie-img-container {
    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;
}
.beitie-img {
    border-radius: 4px;
    width: 100%;
}
.field-name {
    text-align: right;
    display: block;
    float: left;
    color: #999;
    width: 78px;
    padding: 0 5px 0 12px;
    font-weight: bold;
}
#beitie-img-pagination {
    position: fixed;
    text-align: center;
    opacity: .5;
    list-style: none;
    padding: 0;
    bottom: 0;
    left: 50%;
    width: 160px;
    margin: 0 0 0 -70px;
}
#beitie-img-pagination li {
    float: left;
}
#beitie-img-pagination li + li {
    margin-left: 50px;
}
#load-finished {
    font-size: 18px;
    margin-bottom: 20px;
}
#footer-info {
    background: #000;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}