html {
    overflow-y: scroll;
}
#navbar-top {
    border-radius: 0;
}
#beitie-text {
    height: 260px;
}
#beitie-text-show {
    text-indent: 2em;
}
.beitie-info-row {
    margin-top: 5px;
    margin-bottom: 5px;
}
#beitie-description {
    width: 95%;
    resize: none;
}
h4.beitie-intro {
    color: #666;
}
#beitie-imgs-container {
    position: relative;
}
.beitie-img-container {
    min-height: 50px;
    -webkit-transition: top 1s ease, left 1s ease;
    -moz-transition: top 1s ease, left 1s ease;
    -o-transition: top 1s ease, left 1s ease;
    -ms-transition: top 1s ease, left 1s ease;
}
.beitie-img {
    border-radius: 4px;
    width: 100%;
}
.paper-name {
    visibility: hidden;
    color: #999;
    text-decoration: none;
}
.paper-name:hover {
    visibility: visible;
    color: #999;
    text-decoration: none;
}
#beitie-img-pagination {
    position: fixed;
    text-align: center;
    opacity: .5;
    list-style: none;
    padding: 0;
    bottom: 0;
    left: 50%;
    width: 280px;
    margin: 0 0 0 -140px;
}
#beitie-img-pagination li {
    float: left;
}
#beitie-img-pagination li + li {
    margin-left: 50px;
}
#footer-info {
    background: #000;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.form-signin {
    max-width: 330px;
    margin: 0 auto 20px auto;
}
.form-signin .form-signin-heading, #signin-name, #signin-password {
    margin-top: 0;
    margin-bottom: 10px;
}
#signin-submit {
    margin-bottom: 20px;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}