extends ../layout

block content

    #beities.container

        ol.breadcrumb
            li
                a(href="/") 上一级目录

        #beitie-list.row
            each folder, index in folders
                .col-md-4.col-sm-6
                    .thumbnail
                        .caption
                            a(href="#{folder.value}")= folder.key
