extends layout

block content

    #beities.container
        ul#beitie-list.list-group
            each folder, index in folders
                li.list-group-item
                    a(href="#{folder.value}")= folder.key
